:root {
    --white: white;
    --black: black;
}

.button {
    width: 0;
    height: 38px;
}

.navbar-logo-center-container {
    z-index: 5;
    width: 1030px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.navbar-logo-center-container.shadow-three {
    width: 100%;
    max-width: 1140px;
    background-image: linear-gradient(360deg, rgba(224, 188, 252, .88), #fff);
}

.container {
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-wrapper-three {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.navbar-brand-three {
    z-index: 5;
    position: absolute;
}

.nav-menu-wrapper-three {
    width: 100%;
}

.nav-menu-three {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    display: flex;
}

.nav-menu-block {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    display: flex;
}

.nav-link {
    color: #1a1b1f;
    letter-spacing: .25px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}

.nav-link:hover {
    color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
    outline-offset: 0px;
    color: #0050bd;
    border-radius: 4px;
    outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
    outline-offset: 0px;
    color: #0050bd;
    border-radius: 4px;
    outline: 2px solid #0050bd;
}

.nav-dropdown {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-dropdown-toggle {
    letter-spacing: .25px;
    padding: 5px 30px 5px 10px;
    font-size: 14px;
    line-height: 20px;
}

.nav-dropdown-toggle:hover {
    color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
    outline-offset: 0px;
    color: #0050bd;
    border-radius: 5px;
    outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
    outline-offset: 0px;
    color: #0050bd;
    border-radius: 5px;
    outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
    margin-right: 10px;
}

.nav-dropdown-list {
    background-color: #fff;
    border-radius: 12px;
}

.nav-dropdown-list.w--open {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-dropdown-link {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.nav-dropdown-link:focus-visible {
    outline-offset: 0px;
    color: #0050bd;
    border-radius: 5px;
    outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
    outline-offset: 0px;
    color: #0050bd;
    border-radius: 5px;
    outline: 2px solid #0050bd;
}

.nav-link-accent {
    color: #1a1b1f;
    letter-spacing: .25px;
    margin-left: 5px;
    margin-right: 20px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
}

.nav-link-accent:hover {
    color: rgba(26, 27, 31, .75);
}

.button-primary {
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #1a1b1f;
    padding: 12px 25px;
    font-size: 12px;
    line-height: 20px;
    transition: all .2s;
}

.button-primary:hover {
    color: #fff;
    background-color: #32343a;
}

.button-primary:active {
    background-color: #43464d;
}

.image {
    width: 141px;
    height: 36px;
}

.hero-without-image {
    background-color: #f5f7fa;
    background-image: linear-gradient(rgba(224, 188, 252, .88), #fff);
    border-bottom: 1px solid #e4ebf3;
    padding: 80px 30px;
    position: relative;
}

.hero-wrapper-two {
    max-width: 750px;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.margin-bottom-24px {
    margin-bottom: 24px;
}

.team-slider {
    -webkit-text-fill-color: inherit;
    mix-blend-mode: normal;
    background-color: rgba(0, 0, 0, 0);
    background-clip: border-box;
    border: 0 solid #fff;
    padding: 80px 30px;
    position: relative;
}

.centered-heading {
    text-align: center;
    margin-bottom: 16px;
}

.centered-subheading {
    max-width: 530px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.team-slider-wrapper {
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 50px;
}

.team-slide-wrapper {
    width: 30%;
    margin-right: 5%;
}

.team-block {
    background-color: #fff;
    padding-bottom: 24px;
}

.team-member-videotwo {
    width: 282px;
    height: 179.863px;
    margin-bottom: 18px;
}

.team-block-info {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
}

.team-member-name-two {
    margin-bottom: 12px;
    font-weight: 600;
}

.team-member-text {
    margin-bottom: -4px;
    padding-top: 17px;
}

.text-link-arrow {
    color: #1a1b1f;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    display: flex;
}

.arrow-embed {
    margin-left: 2px;
    display: flex;
}

.team-slider-arrow {
    display: none;
}

.team-slider-nav {
    margin-top: 24px;
    font-size: 10px;
    position: static;
    bottom: -60px;
}

.video {
    width: 282px;
    height: 179.863px;
    object-fit: fill;
    display: block;
}

.footer-light {
    border-bottom: 1px solid #e4ebf3;
    padding: 80px 30px 40px;
    position: relative;
}

.footer-wrapper-two {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}

.footer-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.footer-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.footer-link-two {
    color: #1a1b1f;
    margin-top: 20px;
    text-decoration: none;
}

.footer-link-two:hover {
    color: rgba(26, 27, 31, .75);
}

.footer-form {
    width: 315px;
    max-width: 100%;
    margin-bottom: 0;
}

.footer-form-block {
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    display: flex;
}

.footer-form-field {
    height: 48px;
    border: 1px solid #a6b1bf;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom: 0;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 22px;
    transition: all .2s;
}

.footer-form-field:hover,
.footer-form-field:focus {
    border-color: #76879d;
}

.footer-form-field::-ms-input-placeholder {
    color: rgba(26, 27, 31, .8);
    font-size: 14px;
    line-height: 22px;
}

.footer-form-field::placeholder {
    color: rgba(26, 27, 31, .8);
    font-size: 14px;
    line-height: 22px;
}

.footer-form-submit {
    width: 50px;
    height: 48px;
    background-color: #1a1b1f;
    background-image: url('../images/');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all .2s;
}

.footer-form-submit:hover {
    background-color: #3a4554;
}

.footer-divider-two {
    width: 100%;
    height: 1px;
    background-color: #e4ebf3;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-bottom {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.footer-copyright {
    color: #3a4554;
}

.footer-social-block-two {
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-left: -12px;
    display: flex;
}

.footer-social-link {
    margin-left: 12px;
}

@media screen and (min-width: 1280px) {
    .navbar-logo-center {
        outline-offset: 0px;
        background-image: linear-gradient(0deg, rgba(224, 188, 252, .88), #fff);
        border-radius: 0;
        outline: 3px #333;
    }

    .heading {
        text-align: center;
    }
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 728px;
    }

    .navbar-wrapper-three {
        justify-content: space-between;
    }

    .navbar-brand-three {
        position: relative;
    }

    .nav-menu-wrapper-three {
        background-color: rgba(0, 0, 0, 0);
        top: 70px;
    }

    .nav-menu-three {
        background-color: #fff;
        border-radius: 50px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding: 20px;
        display: flex;
        box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
    }

    .nav-link {
        padding-left: 5px;
        padding-right: 5px;
    }

    .nav-dropdown-list.shadow-three.w--open {
        position: absolute;
    }

    .menu-button {
        padding: 12px;
    }

    .menu-button.w--open {
        color: #fff;
        background-color: #a6b1bf;
    }

    .team-slide-wrapper {
        width: 47%;
        margin-right: 6%;
    }

    .footer-wrapper-two {
        flex-wrap: wrap;
    }

    .footer-form {
        width: 100%;
        margin-top: 40px;
    }

    .footer-form-container {
        max-width: 350px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand-three {
        padding-left: 0;
    }

    .nav-menu-three {
        border-radius: 20px;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .nav-menu-block {
        flex-direction: column;
    }

    .nav-link {
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
    }

    .nav-dropdown {
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    .nav-dropdown-toggle {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-dropdown-list.shadow-three {
        box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
    }

    .nav-dropdown-list.shadow-three.w--open {
        position: relative;
    }

    .nav-dropdown-list.shadow-three.mobile-shadow-hide {
        box-shadow: none;
    }

    .nav-link-accent {
        margin-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
    }

    .mobile-margin-top-10 {
        margin-top: 10px;
    }

    .hero-without-image,
    .team-slider {
        padding: 60px 15px;
    }

    .footer-light {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-bottom {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-copyright {
        font-size: 14px;
        line-height: 20px;
    }

    .footer-social-block-two {
        margin-top: 20px;
    }

    .footer-social-link {
        margin-left: 20px;
    }
}

@media screen and (max-width: 479px) {
    .container {
        max-width: none;
    }

    .nav-menu-three {
        flex-direction: column;
    }

    .centered-heading {
        margin-bottom: 24px;
    }

    .team-slide-wrapper {
        width: 100%;
        margin-right: 0%;
    }

    .footer-wrapper-two {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-block-two {
        margin-top: 40px;
    }

    .footer-bottom {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-social-block-two {
        margin-top: 20px;
    }
}